<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="taskApp" ng-controller="TaskController">
  <div>
    <h1>Task Manager</h1>

    <!-- Task Input Form -->
    <form ng-submit="addTask()">
      <input type="text" ng-model="taskText" placeholder="Enter new task" required>
      <button type="submit">Add Task</button>
    </form>

    <!-- Task List -->
    <ul>
      <li ng-repeat="task in tasks">
        <span ng-if="!task.editing">{{ task.name }}</span>
        <input type="text" ng-if="task.editing" ng-model="task.name">
      </li>
    </ul>

    <script>
      var app = angular.module('taskApp', []);
      app.controller('TaskController', function($scope) {
        // Array to store tasks
        $scope.tasks = [];

        // Add a new task
        $scope.addTask = function() {
          if ($scope.taskText) {
            $scope.tasks.push({ name: $scope.taskText, editing: false });
            $scope.taskText = '';  // Clear the input field after adding
          }
        };
      });
    </script>
  </div>
</body>
</html>
